<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head.ejs') %>
    </head>

    <body>
        <div class="search__list" id="search__list">
            <% for (let i = 0; i < urlLinks.length; i++) { %>
            <div
                class="search__result"
                data-name="<%=urlLinks[i].name %>"
                data-search=<%=urlLinks[i].category %>
            >
                <a class="search__result-title" href="<%=urlLinks[i].link %>" target="_blank"><%=urlLinks[i].name %></a>
                <a class="search__result-link" href="<%=urlLinks[i].link %>" target="_blank"><%=urlLinks[i].link %></a>
                <a class="search__result-description" href="<%=urlLinks[i].link %>" target="_blank"
                    ><%=urlLinks[i].description %></a
                >
            </div>
            <% } %>
        </div>
    </body>
</html>
