<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Figma</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            An all-in-one design platform. Design UX, UI, collaborate, build prototypes and more.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Figma %>" target="blank">Learn more</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Google Fonts</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Making the web more beautiful, fast, and open through great typography.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Google_Fonts %>" target="blank">Learn more</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Unsplash</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Beautiful, free images and photos that you can download and use for any project.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Unsplash %>" target="blank">Learn more</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Font Awesome</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Font Awesome is the world's most popular icon set and toolkit.</p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Font_Awesome %>" target="blank">Have a look</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Udemy</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Udemy is a leading destination for online courses.</p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Udemy %>" target="blank">Have a look</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Dribbble</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Inspirational designs, illustrations, and graphic elements from the world's best designers.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Dribbble %>" target="blank">Have a look</a>
            </button>
        </div>
    </div>
</div>
