<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Design | Tools</title>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <main>
            <!-- HEADER start -->
            <%- include('../partials/header.ejs') %>
            <!-- HEADER end-->

            <!-- SUPPORT WELCOME begin-->
            <section class="tools__welcome section grid-2-col" id="inspiration">
                <div class="tools__welcome-left">
                    <h1 class="tools__welcome__title">
                        Choose the right <span class="tools__welcome__title-name">tool</span> for the job
                    </h1>
                    <h2 class="tools__welcome__subtitle">
                        Many times you might be in need of a specific tool like a generator, calculator, or something
                        similar to make your life as a creator significantly easier. Check out the links below and find
                        your favorite one.
                    </h2>
                </div>
                <div class="tools__welcome-right">
                    <img src="../public/img/tools.svg" alt="forms image" class="tools__welcome__img" />
                </div>
            </section>

            <!-- SOFTWARE begin-->
            <section class="resources section" id="software">
                <h2 class="resources__title">Software</h2>
                <h3 class="resources__subtitle">
                    When it comes to software tools to design and build websites, we have many options to choose from.
                    Code editors like Atom or Sublime Text, Adobe XD, Sketch or Affinity software for UI, UX design and
                    photo editing. Here are my favorites.
                </h3>
                <div class="resources__cards cards grid"><%- include('../partials/cards/tools/software.ejs')%></div>
            </section>
            <!-- SOFTWARE end-->

            <!-- IMAGE TOOLS begin-->
            <section class="resources section" id="image-tools">
                <h2 class="resources__title">Image Tools</h2>
                <h3 class="resources__subtitle">
                    In most cases, even if you find the perfect picture for your project, you will probably still have
                    to adjust its size, optimize it, convert it to another format, or just need to perform a quick crop.
                    Here are some free online tools for you.
                </h3>
                <div class="resources__cards cards grid"><%- include('../partials/cards//tools/imagetools.ejs')%></div>
            </section>
            <!-- IMAGE TOOLS end-->

            <!-- CSS GENERATORS begin-->
            <section class="resources section" id="cssgenerators">
                <h2 class="resources__title">CSS Generators</h2>
                <h3 class="resources__subtitle">
                    When you are starting a new project use these website to create a mood board or simply get inspired
                    by what others have created and shared with the world.
                </h3>
                <div class="resources__cards cards grid">
                    <%- include('../partials/cards/tools/cssgenerators.ejs')%>
                </div>
            </section>
            <!-- CSS GENERATORS end-->
        </main>

        <!-- FOOTER start-->
        <div id="footer"><%- include('../partials/footer.ejs') %></div>
        <!-- FOOTER end-->
    </body>
</html>
