<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Design | Tools</title>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <main>
            <!-- HEADER start -->
            <%- include('../partials/header.ejs') %>
            <!-- HEADER end-->

            <!-- SUPPORT WELCOME begin-->
            <section class="tools__welcome section grid-2-col" id="tools">
                <div class="tools__welcome-left">
                    <h1 class="tools__welcome__title">
                        Choose the right <span class="tools__welcome__title-name">tool</span> for the job
                    </h1>
                    <h2 class="tools__welcome__subtitle">
                        Many times you might be in need of a specific tool like a generator, calculator, or something
                        similar to make your life as a creator significantly easier. Check out the links below and find
                        your favorite one.
                    </h2>
                </div>
                <div class="tools__welcome-right">
                    <img src="../../public/img/tools.svg" alt="forms image" class="tools__welcome__img" />
                </div>
            </section>

            <!-- SOFTWARE begin-->
            <section class="resources section" id="software">
                <h2 class="resources__title">Software</h2>
                <h3 class="resources__subtitle">
                    When it comes to software tools to design and build websites, we have many options to choose from.
                    Code editors like <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name ===
                    'Atom') { %>
                    <a class="links-color-cyan" href="<%=urlLinks[i].link %>" target="blank">Atom</a>
                    <% } %> <%} %> or <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name ===
                    'Sublime_Text') { %>
                    <a class="links-color-cyan" href="<%=urlLinks[i].link %>" target="blank">SublimeText</a>
                    <% } %> <%} %> , <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name ===
                    'Adobe_XD') { %>
                    <a class="links-color-cyan" href="<%=urlLinks[i].link %>" target="blank">Adobe XD</a>
                    <% } %> <%} %> , <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name ===
                    'Sketch_App') { %>
                    <a class="links-color-cyan" href="<%=urlLinks[i].link %>" target="blank">Sketch App</a>
                    <% } %> <%} %> or <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name ===
                    'Affinity_Designer') { %>
                    <a class="links-color-cyan" href="<%=urlLinks[i].link %>" target="blank">Affinity Designer</a>
                    <% } %> <%} %> for UI, UX design and photo editing. Here are my favorites.
                </h3>
                <div class="resources__cards cards grid"><%- include('../partials/cards/tools/software.ejs')%></div>
            </section>
            <!-- SOFTWARE end-->

            <!-- IMAGE TOOLS begin-->
            <section class="resources section" id="image-tools">
                <h2 class="resources__title">Image Tools</h2>
                <h3 class="resources__subtitle">
                    In most cases, even if you find the perfect picture for your project, you will probably still have
                    to adjust its size, optimize it, convert it to another format, or just need to perform a quick crop.
                    Here are some free online tools for you.
                </h3>
                <div class="resources__cards cards grid"><%- include('../partials/cards//tools/imagetools.ejs')%></div>
            </section>
            <!-- IMAGE TOOLS end-->

            <!-- CSS GENERATORS begin-->
            <section class="resources section" id="cssgenerators">
                <h2 class="resources__title">CSS Generators</h2>
                <h3 class="resources__subtitle">
                    Wheather you are a beginner of a pro, some aspects of development and design can be spedup by using
                    handy online tools to generate color schemes, gradients or other elements for your projects.
                </h3>
                <div class="resources__cards cards grid">
                    <%- include('../partials/cards/tools/cssgenerators.ejs')%>
                </div>
            </section>
            <!-- CSS GENERATORS end-->

            <!-- TEXT begin-->
            <section class="resources section" id="text">
                <h2 class="resources__title">Text</h2>
                <h3 class="resources__subtitle">
                    It is very important to prevent any typos or grammar mistakes on your website or application since
                    text is the primary reason why we have websites in the first place.
                </h3>
                <div class="resources__cards cards grid"><%- include('../partials/cards/tools/text.ejs')%></div>
            </section>
            <!-- TEXT end-->

            <!-- EXTENSIONS begin-->
            <section class="resources section" id="extensions">
                <h2 class="resources__title">Extensions</h2>
                <h3 class="resources__subtitle">
                    You won't find many people today that are not using browser extensions for one reason or another.
                    There are literally thousands upon thousands out there. Here are my favorites.
                </h3>
                <div class="resources__cards cards grid"><%- include('../partials/cards/tools/extensions.ejs')%></div>
            </section>
            <!-- EXTENSIONS end-->
        </main>

        <!-- FOOTER start-->
        <div id="footer"><%- include('../partials/footer.ejs') %></div>
        <!-- FOOTER end-->
    </body>
</html>
